<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890525278153-vccml06k1k9n2mof6u1jhar4nmqq5emt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890525278153-vccml06k1k9n2mof6u1jhar4nmqq5emt</string>
	<key>API_KEY</key>
	<string>AIzaSyCFdVGEEDmk-zKyYD0DDbi_l5Nf1d2pyxI</string>
	<key>GCM_SENDER_ID</key>
	<string>890525278153</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tutoIOS.app-musicshare</string>
	<key>PROJECT_ID</key>
	<string>mobileapp-a33a5</string>
	<key>STORAGE_BUCKET</key>
	<string>mobileapp-a33a5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:890525278153:ios:1a657e667c8095a8509218</string>
</dict>
</plist>
